body{
background-color: #a0a0f1;
text-align: center;


}

h1{
    color: white;
    font-family:monospace;
    font-size: 4rem;
}

h1 span{
    color:black;
}

button{
    background-color: darkblue;
    color: white;
    border-radius: 20px;
    font-size: 1.5rem;
    transition:background 600ms;
}

button:hover{
    background-color:lightblue;
   
    transition: 1s;


}
.size{
    font-size: 1.6rem;
}


img{
    height: 150px;
    width: auto;
   
}

@media (width < 40rem){
    html {
        font-size: 70%;
    }
}
